
#burner {
    position: relative;
    width: 5em;
    height: 5em;
    border: 2px solid #000;
    border-radius: 2.5em;
    background-image: radial-gradient(farthest-corner at 50% 20%, #b30000 0%, #330000 100%);
    box-shadow: 0 0.5em 1em rgba(102, 0, 0, 0.1);
}
#burner.on {
    background-image: radial-gradient(farthest-corner at 50% 75%, red 0%, #990000 100%);
    box-shadow: 0 1em 1.5em rgba(255, 128, 0, 0.8);
}
